<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<!-- HACER UN CSS ESPECIFICO PARA ESTA PAGINA O COPIAR Y CORREGIR, YA QUE SE COPIO DEL DETAIL PARA VER COMO QUEDABA -->

<body>
    <link rel="stylesheet" href="/css/products.css">
    <!-- Se incluye Header -->
    <%- include('./partials/header') %>
    
    <!-- /* Definición categorías de productos*/ -->
    <!-- de la pagina original solo se confecciono el recuadro principal. -->
    <main>
        <a href="/products" class="action-button edit">CREAR PRODUCTO</a>
        
        <div class="page">    
            <% for (product of products) { %> 
            <section class="category-product">
                <div class="article_banner_left">
                    <div class="img-Principal">
                        <img src="/img/<%=product.image %> " alt="<%=product.description[0] %>">
                    </div>
                </div>
                <div class="article_banner_right">
                    <div class="main-article">
                        <p class="activity"><%=product.activity %></p>                 
                        <img class="logo" src="/img/<%=product.logo %>">                                                            
                        <a href="/products/productDetail/<%=product.id %>"><h1><%=product.resenia %></h1></a>
                        <p> <%=product.description %></p>
                    </div>
                    <div class="price-box">
                        <h5 class="regularPrice">Precio Regular</h5> 
                        <h2> <%=product.price %> </h2>
                        <h6 class="salesPrice">Precio Promoción</h6>
                        <h3>
                            <span class="salesPrice"><%=product.salesPrice %></span>
                        </h3>
                    </div>
                </div>  
            </section> 
            <% } %> 
        </div>   
        
    </main>         
    
    <%- include('./partials/footer') %>    
</body>
   
</html>