<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="/css/register.css">

         <!-- se incluye Head -->
         <%-include('./partials/head') %>
         <!-- Se incluye Header -->
         <%-include('./partials/header') %>

<div class="users_registers">
    <div class= "container-login">
        <h1 class="primero"> Creá una cuenta</h1>
        <form action="/user/register" method= "post" enctype="multipart/form-data">

        <div class= "user_name">
            <input type="text" id="userName" name="userName" class="adentro" placeholder="Nombre de Usuario (*)">
            <% if(locals.errors && errors.userName) { %>
                <div class="text-danger">
                    <%= errors.userName.msg %> 
                </div> 
                <% } %> 
        </div>

        <div class= "name">
            <input type="text" id="first_name" name="first_name" class="adentro" placeholder="Nombre /s (*)">
            <% if(locals.errors && errors.first_name) { %>
                <div class="text-danger">
                    <%= errors.first_name.msg %> 
                </div> 
                <% } %> 
            <input type="text" id="last_name" name="last_name" class="adentro" placeholder="Apellido /s (*)">
            <% if(locals.errors && errors.last_name) { %>
                <div class="text-danger">
                    <%= errors.last_name.msg %> 
                </div> 
                <% } %> 
        </div>  

        <div class= "email">
            <input type="email" id="email" name="email" class="adentro" placeholder="Ingresa tu email (*)">
            <% if(locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div> 
                <% } %> 
        </div> 
        <div class= "password">
            <input type="password" id="password" name="password" class="adentro" placeholder="Contraseña (*)">
            <% if(locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div> 
                <% } %> 
        </div>
        <div class="category">
            <label for="category" class="form-label">Ingrese su Categoría:</label>
            <select name="category" id="category" class="form-input">
                <option value="">Elegí</option>
                <option value="customers">Soy Cliente</option>
                <option value="administrator">Administrador</option>
                <option value="operator">Operador / Editor</option>
            </select>
        </div>

        <div class= "user_image">
        <label for="image" class="form-label">Ingrese su foto o Avatar:</label>
		<input type="file" name="image" id="image" class="form-input">
        </div>           

       
        <div class="registrarme">
            <div class="registrarme">
        <button id="buttonRegister" type="submit" title="Registrate" class="registrarme1">
                REGISTRARME </button>
        </div>

<p class= "is-center">
    ¿Ya tenes cuenta?
<a href="/login" title="Accede">
<strong>Accedé</strong>
</a>
</p>
</div>
</form>
 <!-- Se incluye Footer -->

 <%-include('./partials/footer') %> 
