<!DOCTYPE html>
<html>


<body>
 
    <!-- /* Definición categorías de productos*/ -->
    
    <main>
        <a href="/users" class="action-button edit">Usuarios</a>
    <div class="pageUsers">    
        <% for (product of products) { %> 
         <div class="article_banner_left">
         <div class="avatar">
             <img src="/img/avatar/<%=users.avatar %> " alt="<%=users.first_name[0] %>">
         </div>
     </div>
     <div class="article_banner_right">
        <div class="usersInfo">
            
             <p class="last_name"><%=users.last_name %></p>    
             <p class="email"><%=users.email %></p>    
             <p class="password"><%=users.password %></p>   
             <p class="level"><%=users.level %></p> 
        </div>
    </div>
    </div>         
          
        <% } %> 

</main>         
    
    <%- include('./partials/footer') %>   

</body>
   
</html>